@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
    font-family: Marcellus;
    color: #FFF;
}

#nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #000, #1E1E1E);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    position: fixed;
    z-index: 1;
    width: 100vw;
    transition: 0.3s ease;
}

#nav ul {
    display: flex; 
    gap: 1.5rem;
    list-style: none;
    align-items: center;
    font-size: 1.35em;
    font-family: Perpetua Titling MT;
    color: #FFF;
    font-style: normal;
    letter-spacing: 2.5px;
}

#nav ul a {
    text-decoration: none;
    color: #FFF;
    transition: color 0.8s;
}

#nav ul a:hover {
    color: #545454;
}

.navlist {
    margin: 1.5em;
    align-self: center;
}

.ham {
    display: none;
}

.offscreen {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    top: 0;
    right: -450px;
    z-index: 1;
    transition: 0.3s ease;
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 100px 0px;
}

.offscreen.active {
    background-color: rgba(0, 0, 0, 0.7);
    right: 0;
}

.offscreenx {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 354px;
    top: 32px;
    overflow: hidden;
}

.offscreenx span {
    padding: 1.5px;
    margin: 3px;
    width: 45px;
    height: 3px;
    background-color: white;
    border-radius: 25px;
}

.offscreenx span:nth-child(1) {
    transform: translate(0%, 300%) rotate(40deg);
    transform-origin: 0%, 0%;
}

.offscreenx span:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.0);
}

.offscreenx span:nth-child(3) {
    transform: translate(0%, -300%) rotate(-40deg);
    transform-origin: 0%, 0%;
}

.offscreen ul {
    gap: 1.5rem;
    list-style: none;
    align-items: left;
    font-size: 1.5em;
    font-family: Perpetua Titling MT;
    color: #FFF;
    font-style: normal;
    letter-spacing: 2.5px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.offscreen ul a {
    text-decoration: none;
    color: #FFF;
}

.logo {
    margin-inline: 1.5em;
    position: relative;
    left: 0;
    width: 20rem;
}

#hero {
    position: relative;
    top: 6.1rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.55) 100%), url('Pictures/herobg.jpg'), lightgray 50% / cover no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.herotxt {
    /* border: solid red; */
    position: absolute;
    width: 45vw;
    top: 20vh;
    left: 5em;
}

#hero h1 {
    color: #FFF;
    font-size: clamp(50px, 4vw, 90px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 15px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

#hero p {
    color: #FFF;
    font-size: clamp(18px, 1.5vw, 27px);
    font-style: normal;
    line-height: normal;
    letter-spacing: 5.75px;
    text-align: left;
    width: auto;
    padding-top: 30px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#svc {
    border-top: 1px solid #FFF;
    background: conic-gradient(from 260deg at 64.69% 56.11%, #101010 27.069464921951294deg, rgb(12, 12, 12) 64.09795045852661deg);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

#svc h1 {
    text-align: center;
    letter-spacing: 6.75px;
    font-size: clamp(37px, 2.7vw, 3em);
    margin: 1em;
}

.svcboxcont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

.svcbox {
    border: 1px solid #FFF;
    background: #141414;
    padding: 1rem;
    margin: 1em;
    width: 320px;
    height: 522px;
}

.svcbox h2 {
    color: #FFF;
    letter-spacing: 3.75px;
    text-align: center;
    font-size: clamp(25px, 2vw, 30px);
}

.svcbox p {
    color: #FFF;
    letter-spacing: 3.75px;
    text-align: center;
    font-size: clamp(15px, 1.2vw, 20px);
}

.svcitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-inline: 5%;
    margin-top: 20px;
}

.svcitems img {
    width: 128px;
    height: 128px;  
}

.icons {
    border-radius: 15px;
}

.arrows {
    display: none;
}


.dot {
    display: none;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

#work {
    border-top: 1px solid #FFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.81) 100%), url(Pictures/musicconsole.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work h1 {
    text-align: center;
    letter-spacing: 6.75px;
    font-size: clamp(40px, 2.7vw, 3em);
    margin: 2.5rem;
}

.video iframe {
    width: clamp(15rem, 95vw, 45rem);
    height: 30rem;
}

.playlist {
    margin-block-end: 35px;
}

.playlist iframe {
    width: clamp(15rem, 95vw, 45rem);
    height: 40rem;
}

#team {
    height: auto;
    border-top: 1px solid #FFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0.79) 100%), url(Pictures/micbg.jpg), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#team h1 {
    text-align: center;
    letter-spacing: 6.75px;
    font-size: clamp(30px, 3vw, 3em);
    width: 95vw;
    margin: 2rem;
    padding: 0px;
}

.teamarrows {
    display: none;
}

.teamcard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: 10rem;
    width: clamp(50rem, 100vw, 90rem);
}

.teamdots {
    display: none;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.profpic {
    position: relative;
    width: 350px;
    height: 466px;
    margin: 1.5rem;
    animation: fadeIn 0.8s;
        -webkit-animation: fadeIn 0.8s;
        -moz-animation: fadeIn 0.8s;
        -o-animation: fadeIn 0.8s;
        -ms-animation: fadeIn 0.8s;
}

.profpic img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profpic span {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.66);
    font-size: 1.4em;
    letter-spacing: 4.5px;
}

.teamarrows {
    display: none;
}

#about {
    height: 100vh;
    border-top: 1px solid #FFF;
    background: url('Pictures/console2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45rem;
}

#about h1 {
    text-align: center;
    font-size: clamp(40px, 2.7vw, 3em);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.75px;
    margin: 2.5rem;
}

#about p {
    color: #FFF;
    text-align: center;
    font-size: clamp(17px, 2vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.6px;
    width: clamp(300px, 90vw, 1072px);
}

footer {
    border-top: 1px solid #FFF;
    background: #000;
    /* height: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ftlogo {
    width: clamp(18rem, 60vw,26rem);
    margin-block: 20px;
    /* margin-right: 38px; */
}

.contact {
    color: #FFF;
    font-family: Marcellus;
    font-size: clamp(1em, 3vw, 1.5em);
    font-style: normal;
    line-height: normal;
    letter-spacing: 6.75px;
    
}

.contact h1 {
    text-align: center;
    margin-bottom: 45px;
}

.contdet {
    display: flex;
    justify-content: space-between;
    width: clamp(20rem, 97vw, 60rem);
    
}

.contdet img {
    margin-inline: 0.5em;
    object-fit: cover;
}

.contdet span {
    display: flex;
    align-items: center;
}

footer form {
    margin-block: 50px;
    color: #FFF;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forminput {
    display: flex;
    gap: 1rem;
    width: clamp(20rem, 97vw, 60rem);
}

form label {
    display: none;
}

form input {
    width: 30rem;
    height: 58px;
}

input[type="text"]{
    font-family: Marcellus;
    font-size: 1.5rem;
    letter-spacing: 3.75px;
    padding-inline: 10px;
}

textarea {
    width: 511px;
    height: 135px;
    resize: none;
    font-family: Marcellus;
    font-size: 1.5rem;
    letter-spacing: 3.75px;
    padding: 10px;
}

form button {
    border: none;
    cursor: pointer;
    border-radius: 24px;
    background: #F47121;
    width: 10em;
    height: 47px;
    color: #000;
    font-family: Marcellus;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.75px;
    
}

button:active {
    box-shadow: 0 5px #2b2b2b;
    transform: translateY(4px);
    transition: ease-in 0.03s;
}

.btncont {
    overflow: hidden;
    height: auto;
    padding: 40px;
}

.nameemail {
    width: 511px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socmed {
    display: flex;
    gap: 3rem;
}

.cr {
    color: #FFF;
    font-family: Marcellus;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    margin: 3em;
}

@media screen and (max-width: 1428px) {
    .svcbox {
        width: clamp(260px, 20vw, 320px);
        height: 30em;
    }
}

@media screen and (max-width: 1313px) {
    .herotxt {
        width: 60vw;
    }

}

@media screen and (max-width: 1229px) {
    #nav ul {
        display: none;
    }

    .ham {
        display: flex;
        flex-direction: column;
        padding: 2em;
        position: relative;
        right: 13px;
    }

    .ham span {
        padding: 1.5px;
        margin: 3px;
        width: 45px;
        height: 1px;
        background-color: white;
        border-radius: 25px;
    }

    .ham.active {
        z-index: 2;
    }
    
    .navlist {
        display: none;
    }
}

@media screen and (max-width: 1193px) {
    .teamcard {
        width: clamp(50rem, 75vw, 90rem);
    }
}

@media screen and (max-width: 1144px) {
    .svcboxcont {
        flex-wrap: wrap;
        width: 75vw;
    }
}

@media screen and (max-width: 794px) {
    .teamcard {
        width: 100vw;
    }

    .profpic {
        width: clamp(180px, 35vw, 90rem);
    }
}



@media screen and (max-width: 780px) {
    .svcboxcont {
        width: 100vw;
    }
}

@media screen and (max-width: 662px) {
    .herotxt {
        width: 80vw;
        left: 10vw;
    }

    #hero h1 {
        text-align: center;
    }

    #hero p {
        text-align: center;
    }

    #about {
        height: auto;
    }

    #about {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0.75) 100%), url(Pictures/console2.jpg), lightgray 50%;
        background-size: cover;
    }

    #about p {
        text-align: justify;
        margin-bottom: 10vh;
    }

    .ftlogo {
        width: 18rem;
        margin-bottom: 10px;
    }

    .contact h1 {
        margin-bottom: 30px;
}

    .contdet {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .contdet img {
        width: 2em;
    }

    .contdet span {
        justify-content: center;
        align-items: center;
        width: 18em;
        height: auto;
        margin: 5px;    
    }

    .forminput {
        flex-direction: column;
        align-items: center;
    }

    footer form {
        margin-block: 20px;
    }

    input[type="text"] {
        font-size: 1em;
    }

    form input {
        width: clamp(290px, 85vw, 31.9rem);
        height: 3rem;
        margin-block: 3px;
        margin-inline: auto;
        border-radius: 5px;
    }

    textarea {
        width: clamp(290px, 85vw, 31.9rem);
        margin-block: 3px;
        border-radius: 5px;
        font-size: 1em;
    }

    form button {
        width: 7em;
        height: 1.5em;
    }

    .socmedicons {
        width: 35px;
    }

    .cr {
        text-align: center;
        font-size: 10px;
    }

}

@media screen and (max-width: 583px) {
    .svcheader {
        overflow-y: hidden;
    }

    .arrows {
        position: relative;
        bottom: 18em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .prev, .next {
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .dotcont {
        margin-top: -35px;
        margin-bottom: 25px;
        overflow-y: hidden;
    }

    .dot {
        display: inline-block;
    }

    .dot1 {
        background-color: #717171;
    }

    .svcboxcont {
        overflow-y: hidden;
        flex-wrap: nowrap;
        padding-bottom: 0px;
    }

    .svcbox {
        display: none;
        height: 25em;
    }

    .svcbox1 {
        display: block;
        animation: fadeIn 0.8s;
        -webkit-animation: fadeIn 0.8s;
        -moz-animation: fadeIn 0.8s;
        -o-animation: fadeIn 0.8s;
        -ms-animation: fadeIn 0.8s;
    }

    .svcbox2, .svcbox3, .svcbox4 {
        display: none;
        animation: fadeIn 0.8s;
        -webkit-animation: fadeIn 0.8s;
        -moz-animation: fadeIn 0.8s;
        -o-animation: fadeIn 0.8s;
        -ms-animation: fadeIn 0.8s;
    }

    .video iframe {
        height: 20rem;
    }

    #team {
        overflow-y: hidden;
    }

    #about p {
        width: clamp(250px, 85vw, 1072px);
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    .herotxt {
        width: 90vw;
        left: 5vw;
    }
}

@media screen and (max-width: 454px) {
    #team h1 {
        margin-bottom: 0px;
    }

    .teamarrows {
        position: relative;
        bottom: 18em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .teamprev, .teamnext, .prev, .next {
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 1.7rem;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .teamdots {
        display: inline-block;
    }

    .profpic {
        width: 300px;
    }

    .ermin, .nolly, .vessel, .acle, .simon {
        display: none;
    }

}

@media screen and (max-width: 447px) {
    #nav {
        display: flex;
        justify-content: space-between;
    }

    .logocont {
        height: 101.133px;
        overflow: hidden;
    }

    .logo{
        margin: 2px;
        width: 300px;
        margin-left: 15px;
    }

    .ham span {
        width: 25px;
        padding: 1px;
    }

    .offscreen ul {
        width: 200px;
        font-size: 1.3em;
    }

    .offscreenx {
        left: 80%;
    }

    .offscreenx span {
        width: 35px;

    }

    #hero h1 {
        font-size: clamp(39px, 4vw, 90px); ;
    }

    
}

@media screen and (max-width: 406px) {
    .logo{
        margin: 9px;
        width: 250px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 351px) {
    .ham {
        padding: 2.5px;
        padding-top: 33px;
        margin-right: 10px;
    }

    .logo{
        margin: 8.5px;
        width: 250px;
    }

    #hero h1 {
        font-size: 2em;
        text-align: center;
        letter-spacing: 9.5px;
    }

    #hero p {
        font-size: 1em;
        text-align: center;
    }
    
    #hero {
        height: 100vh;
    }

}

@media screen and (max-width: 335px) {
    .ham {
        margin-right: 5px;
    }
    .logo {
        width: 230px;
        margin-block: 13px;
    }

    .playlist iframe {
        height: 30rem;
    }
}